.heading-subheading
{
    background: url("../images/header.jpg");
    background-size: cover;
}

.logo
{
    font: 26px/1 'Lora';
    color: #FFF;
}

.logo_color
{
    color: #2E2E2E;
}

.nav__link
{
    font: 12px/1.67 'Oxygen';
    letter-spacing: 0.6px;
    color: #FFF;
    text-decoration: none;
}

.nav__link_color
{
    color: #2E2E2E;
}

.subheading__slogan
{
    font: 50px/1.02 'Lora';
    letter-spacing: 2px;
    color: #FFF;  
}

.subheading__slogan_color
{
    color: #2E2E2E;
}

.subheading__text
{
    font: 17px/1.18 'Oxygen';
    color: rgba(255, 255, 255, 0.63);
}

.subheading__text_color
{
    color: rgba(46, 46, 46, 0.63);
}

.button {
    border-radius: 3px;
    color: #FFF;
    background: #DD783F;
    border: none;
}

.subheading__button 
{
    height: 44px;
    padding: 12px 31px;
    font: 13px/1.54 'Oxygen';
}

.menu 
{
    background: #FFF;
}

.menu__link
{
    font: 14/1.43 'Lora';
    color: #768088;
    text-decoration: none;
}

.main
{
    background: #F7F7F7;
}

.name
{
    font: 20px/1.35 'Oxygen';
    letter-spacing: 2px;
    color: #2E2E2E;
}

.name::after
{   
    content: " ";
    display: block;
    height: 1px;
    background-color: #DEDEDE;
    width: 188px;
    margin-top: 16px
}

.featured__post
{
    height: 280px;
}

.featured__post_background-road
{
    background: url("../images/the_road_ahead.jpg") no-repeat;
}

.post_text-decoration
{
    text-decoration: none;
}


.post__heading
{
    font: 27px/1.11 'Lora';
    color: #FFF;
    text-decoration: none;
}

.post__text
{
    font: 14px/1.79 'Oxygen';
    color: rgba(255, 255, 255, 0.7);
}

.post__img
{
    border-radius: 60px;
}

.post__span
{
    font: 12px/2.92 'Oxygen';
    color: rgba(255, 255, 255, 0.7);
}

.featured__post_background-fromtop
{
    background: url("../images/from_top_down.jpg") no-repeat;
}

.button__adventure
{
    font: 12px/1.1 'Oxygen';
    padding: 6px 9px 7px;
}

.most-recent__photo
{
    background: #FFF;
    width: 296px;
}

.photo__img
{
    background: #D6D6D6;
}

.photo__heading
{
    font: 16px/1.31 'Lora';
    color: #101315;
}

.photo__text
{
    font: 13px/1.46 'Oxygen';
    color: #7A7A7A;
}

.photo__line
{
    height: 1px;
    background: #EFEFEF;
}

.photo__footer::before
{
    content: " ";
    display: block;
    height: 1px;
    width: 296px;
    background: #EFEFEF;
    margin-bottom: 12px;
}

.photo__footer
{
    background: #FCFCFC;
}

.photo__author
{
    border-radius: 60px;
}

.photo__span
{
    font: 11px/3.18 'Oxygen';
    color: #999999;
}

.overfooter-footer
{
    background: url("../images/stay_in_touch.jpg");
    background-size: cover;
}

.stay-in-touch-name
{
    font: 25px/1.2 'Oxygen';
    color: #EFEFEF;
}

.data__email
{
    border-radius: 3px 0px 0px 3px;
    border: none;
    font: 12px/1.17 'Roboto';
}

.footer-nav__link
{
    font: 11px/2.36 'Oxygen';
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.main__img
{
    border-radius: 3px;
}

.main__text
{
    font: 24px/1.46 'Oxygen';
    color: #101315
}






